#canhan{
    margin-top: 112px;
    float:right;
    width: 50px;
    height: 50px;
    
}
.bccanhan {
    float: right;
    align-items: center;
    text-align: center;
}
#canhan img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/*giỏ hàng*/
#overlay
{
    width:40% ;
    height: 300px;
    overflow: auto;
    z-index: 1;
    position: fixed;
    background-color: rgb(235, 233, 233);
    margin-left: 60%;
    padding: 10px;
}
.hidden {
    display: none;
}

#cart {
    width: 100%px;
    margin-bottom: 30px;
    padding: 10px;
}

#cartItems {
    display: grid;
    align-items: center;
    margin: 10px 0;
}

.cart-item {
    display: flex;
    margin-bottom: 30px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px; /* Khoảng cách giữa ảnh và nội dung */
}

.product-info {
    display: flex;
    flex-direction: column; /* Hiển thị tên và giá sản phẩm trên các dòng riêng biệt */
}

.product-info h3,
.product-info p {
    font-size: 15px;
    margin-top: 0;
}
.product-info p {
    display: inline;

}

#cartItems .decrease
{
    margin-top: -23px;
    margin-left: -180px;
}
#cartItems .increase,
#cartItems .delete{
    margin-top: -20px;
}
#cartItems input {
    width: 25px;
    height: 10px;
    margin-top: 33px;
    text-align: center;
}
#ttien{
    font-weight: bolder;
    margin-left: 30%;
}
#cartItems button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

#cartgh img {
    padding-left: 90%;
    padding-top: 130x;
    width: 30px;
    height: 30px;
    transition: transform 0.5s;
  }
 #cartCount
 {
    position: absolute;
    top: 130px;
    right: 200px; 
    background-color: red;
    color: white; 
    border-radius: 50%; 
    padding: 2px 5px; /

 }
.product:hover #divgh
{
    display: block;
}
#closeCart,#chot {
    margin-top: -5px;
    background-color: #FF8C00;
    color: white;
    border: none;
    float: right;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}
/*------*/
/*
#noidungcn {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    right: 0;
    top: 65px; /* Điều chỉnh khoảng cách từ ảnh cá nhân xuống menu
    text-align: center;
 */
#noidungcn {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 83px;
    z-index: 1; 
    top: 180px;
  }
  .ndht,#dx {
    text-align: left;
    display: block;
    margin: 10px 0;
    color: #777;
    text-decoration: none;
}
#dx
{
  color: black;
  font-weight: bolder;
    margin-bottom: 0px;
}
  #canhan:hover #noidungcn,
  #noidungcn:hover {
      display: block;
  }
  
