.hidden-list {
   width: 30%;
   height: 5%;
   color: black;
   background-color: beige;
   display: none;
   z-index: 100;
}
.l{
   color: black;
}
.hidden-checkbox {
   display: none;
}

.clickable {
   cursor: pointer;
   text-decoration: underline;
}

#showList:checked + .hidden-list {
   display: block;
}